/*
 *
 * Project Name: Manten - Style 6
 * URL: http://templatesuper.com
 * Version: 1.0
 *
 * Author: Adnan
 *
 */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.pace {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-pointer-events: none;
  pointer-events: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: #9cd1d7;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: #828282;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
}

a, a:visited, a:focus, a:active, a:hover, button:focus {
  outline: 0 none !important;
}

/*
  #########################################################################
  #
  Header 06
  #########################################################################
*/
.header-06 {
  height: 100%;
}

.header-06 .container-fluid {
  padding: 0;
}

.header-06 .flexslider .slides > li {
  display: none;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.header-06 .flex-viewport,
.header-06 .flexslider-container,
.header-06 .flexslider .slides {
  height: 100%;
}

.header-06 ul.slides {
  margin: 0;
  padding: 0;
}

.header-06 .flexslider {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.header-06 .flex-control-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.header-06 .flex-control-nav li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 6px;
}

.header-06 .flex-control-paging li a {
  display: block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  text-indent: -9999px;
  cursor: pointer;
}

.header-06 .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.header-06 .flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.header-06 .caption {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: auto;
  color: #fff;
  background-color: #9cd1d7;
}

.header-06 .box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-06 .caption h1 {
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
}

.header-06 .caption h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-06 .navbar-default {
  border-color: transparent;
  background: transparent;
}

.header-06 .navbar-default .navbar-toggle {
  border: transparent;
}

.header-06 .navbar-header {
  float: none;
}

.header-06 .navbar-toggle {
  display: block;
}

.header-06 .navbar-collapse.collapse {
  display: none !important;
}

.header-06 .navbar-nav {
  float: none !important;
}

.header-06 .navbar-nav > li {
  float: none;
}

.header-06 .collapsing,
.header-06 .navbar-collapse.collapse.in {
  display: block !important;
  position: absolute;
  right: 25px;
  width: 180px;
  background: #9cd1d7;
  text-align: center;
}

.header-06 .collapse.in .navbar-nav > li,
.header-06 .collapsing .navbar-nav > li {
  display: block;
  border-bottom: 1px dashed #aed9de;
}

.header-06 .navbar-default .navbar-nav > .active > a,
.header-06 .navbar-default .navbar-nav > .active > a:focus,
.header-06 .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #000;
}

.header-06 .navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-06 .navbar-default .navbar-nav > li > a:hover {
  color: #555;
}

.header-06 .navbar-default .navbar-collapse,
.header-06 .navbar-default .navbar-form {
  border: none;
}

.header-06 .navbar-default .navbar-toggle:focus,
.header-06 .navbar-default .navbar-toggle:hover {
  background: transparent;
}

/*
  #########################################################################
  #
  Story 06
  #########################################################################
*/
.story-06 {
  padding: 80px 0;
}

.story-06 h3 {
  color: #9cd1d7;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.story-06 h3,
.story-06 h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.story-06 h5 {
  color: #828282;
}

.story-06 .title {
  margin-bottom: 50px;
}

.story-06 .content {
  text-align: center;
}

.story-06 .content p {
  font-size: 1.6em;
  line-height: 28px;
}

.story-06 .content h5 {
  padding-top: 20px;
  color: #828282;
  border-top: 1px dashed #dedede;
  font-size: 1.9em;
}

/*
  #########################################################################
  #
  wedding 06
  #########################################################################
*/
.wedding-06 {
  padding: 120px 0;
  background: #f5f5f5;
}

.wedding-06 img {
  max-width: 300px;
  float: left;
}

.wedding-06 .place {
  padding-top: 80px;
  padding-left: 340px;
}

.wedding-06 .place p {
  margin-bottom: 0;
  font-size: 1.6em;
  line-height: 28px;
}

.wedding-06 .place h3 {
  color: #828282;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.wedding-06 .place h4 {
  margin-bottom: 20px;
  color: #9cd1d7;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 2px;
}

.wedding-06 .place .btn-default {
  margin-top: 60px;
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #9cd1d7;
  border-radius: 0;
  background: #9cd1d7;
  letter-spacing: 3px;
}

.wedding-06 .place .btn-default:hover {
  color: #9cd1d7;
  border: 1px solid #9cd1d7;
  background: transparent;
}

/*
  #########################################################################
  #
  Accomm 06
  #########################################################################
*/
.accomm-06 {
  width: 100%;
  padding: 120px 0;
}

.accomm-06 h3 {
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 2px;
}

.accomm-06 h5 {
  color: #9cd1d7;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2px;
}

.accomm-06 p {
  margin-bottom: 0;
  font-size: 1.6em;
  line-height: 28px;
}

.accomm-06 .btn-default {
  margin-top: 20px;
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #9cd1d7;
  border-radius: 0;
  background: #9cd1d7;
  letter-spacing: 3px;
}

.accomm-06 .btn-default:hover {
  color: #9cd1d7;
  border: 1px solid #9cd1d7;
  background: transparent;
}

/*
  #########################################################################
  #
  Registry 06
  #########################################################################
*/
.registry-06 {
  padding: 80px 0;
  background: #f5f5f5;
}

.registry-06 h3 {
  margin-bottom: 40px;
  color: #444;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.registry-06 .box {
  text-align: center;
}

.registry-06 .box div {
  height: 40px;
  margin-bottom: 60px;
  line-height: 40px;
}

.registry-06 .box img {
  display: inline-block;
  max-width: 225px;
  max-height: 120%;
}

.registry-06 .box .btn-default {
  display: block;
  margin-top: 20px;
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #9cd1d7;
  border-radius: 0;
  background: #9cd1d7;
  letter-spacing: 3px;
}

.registry-06 .box .btn-default:hover {
  color: #9cd1d7;
  border: 1px solid #9cd1d7;
  background: transparent;
}

/*
  #########################################################################
  #
  RSVP 06
  #########################################################################
*/
.rsvp-06 {
  width: 100%;
  padding: 120px 0;
  color: #fff;
  background-position: center;
  text-align: center;
}

.rsvp-06 h3 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: 2px;
  letter-spacing: 1px;
}

.rsvp-06 p {
  margin-bottom: 40px;
  font-size: 1.6em;
  line-height: 28px;
  letter-spacing: 1px;
}

.rsvp-06 .form-control {
  height: 50px;
  border-radius: 0;
}

.rsvp-06 .btn-default {
  height: 50px;
  padding-right: 50px;
  padding-left: 50px;
  color: #fff;
  border: 1px solid #9cd1d7;
  border-radius: 0;
  background: #9cd1d7;
  letter-spacing: 2px;
}

.rsvp-06 .btn-default:hover {
  color: #9cd1d7;
  border: 1px solid #9cd1d7;
  background: transparent;
}

.rsvp-06 ::-webkit-input-placeholder {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.rsvp-06 :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.rsvp-06 ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.rsvp-06 :-ms-input-placeholder {
  text-align: center;
}

footer {
  padding: 50px 0;
  color: #828282;
  text-align: center;
  line-height: 20px;
  letter-spacing: 2px;
}

.scroll-to-top a {
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.scroll-to-top {
  z-index: 9999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  border-radius: 4px;
  background: #9cd1d7;
  filter: alpha(opacity=0);
  text-align: center;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.scroll-to-top.affix {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.affix {
  position: fixed;
}

/*
  ---------------------------------------------------
  Large Devices, Wide
  Screens
  -----------------------------------------------------
*/
/*
  --------------------------------------------------
  Medium Devices,
  Desktops
  ----------------------------------------------------
*/
/*
  -------------------------------------------------
  Small Devices,
  Tablets
  ---------------------------------------------------
*/
@media only screen and (max-width: 768px) {
  .header-06 .caption h1 {
    color: #fff;
    font-size: 2.5em;
  }
  .header-06 .caption h6 {
    color: #fff;
    text-shadow: none;
  }
  .wedding-06 .col-md-6 {
    text-align: center;
  }
  .wedding-06 img {
    display: inline-block;
    max-width: 80%;
    float: none;
  }
  .wedding-06 .place {
    padding: 20px 0 0;
  }
  .registry-06 .box div {
    margin-bottom: 20px;
  }
  .registry-06 .box .btn-default {
    margin-bottom: 30px;
  }
}

/*
  ------------------------------------------------
  Mobile
  -------------------------------------------------
*/
@media only screen and (max-width: 480px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-06 .caption {
    width: 100%;
  }
  .header-06 .caption h1 {
    font-size: 2em;
  }
  .header-06 .caption h6 {
    text-shadow: none;
  }
  .wedding-06 .col-md-6 {
    text-align: center;
  }
  .wedding-06 img {
    display: inline-block;
    max-width: 80%;
    float: none;
  }
  .wedding-06 .place {
    padding: 20px 0 0;
  }
  .registry-06 .box div {
    margin-bottom: 20px;
  }
  .registry-06 .box .btn-default {
    margin-bottom: 30px;
  }
  .pace .pace-progress {
    background-color: #fff;
  }
}
